<div id="start-page">
  <div class="content">
    <h1 class="bun-venit" style="font-family: Lucida Handwriting,monospace;"><p>Bienvenue au Sudoku</p></h1>

    <div class="log">
      <button class="btn btn-outline-danger" style="margin-bottom: 10px" (click)="goToGame()"><h3>Jouez</h3></button>
    </div>


    <div class="welcome">
      <h1>
        Ici, vous pouvez résoudre plus de 100 jeux de Sudoku</h1>
      <h1> Vous pouvez enregistrer tout ce que vous avez résolu en vous connectant ou en jouant régulièrement chaque fois que vous avez de nouveaux jeux</h1>

    </div>
  </div>
</div>
