<img id="fon" src="assets/BoNiBuFi++.png" alt="foto.png">

<header id="header">
  <div class="head">
    <div class="logo">
      <img src="assets/sudoku-new.png" alt="sudoku.png">
      <h1><p>Sudoku</p></h1>
    </div>
    <div class="menu-block">
      <ul class="menu">
        <li class="from-left"><a routerLink=".."> <h3>Accueil</h3></a></li>
        <li *ngIf="isAuth()" class="from-left"><a routerLink="profile"> <h3>Profil</h3></a></li>
        <li class="from-left"><a href="alg"> <h3>Algorithmes</h3></a></li>
        <li class="from-left"><a href="game"> <h3>Jeu</h3></a></li>
        <li *ngIf="!isAuth()" class="from-left"><a routerLink="auth"> <h3>Authentification</h3></a></li>
        <li *ngIf="isAuth()" class="from-left"><a (click)="signOut()" routerLink=".." > <h3>Sortie</h3></a></li>
      </ul>
    </div>
  </div>
</header>
<div style="width: 100%; box-sizing: border-box; height: auto">
  <router-outlet></router-outlet>
</div>
